.container-editor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

.editor-header {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(219, 219, 219, 0.1);
}

.editor-body {
    width: 100%;
    height: calc(100% - 64px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor-text1 {
    position: absolute;
    z-index: 1;
    width: 300px;
    color: rgba(124, 122, 122, 0.6);
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.editor-text1 a {
    color: rgba(124, 122, 122, 0.6);
    text-decoration: none;
}

.editor-router-outlet {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: calc(100% - 64px);
}

.editor-atras {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor-adelante {
    position: absolute;
    top: 15px;
    left: 55px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor-angle {
    background-color: rgba(0, 0, 0, 0);
}

.editor-container-opciones {
    width: 60%;
    height: 100%;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor-opciones {
    border-radius: 20px;
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    color: rgba(0, 0, 0, 0.5);
}

.editor-crear {
    width: 150px;
    height: 50px;
}

.editor-editar {
    margin-left: 50px;
    left: 350px;
    width: 150px;
    height: 50px;
}

.editor-eliminar {
    margin-left: 50px;
    width: 150px;
    height: 50px;
}

.editor-option-selected {
    color: #fff;
    background-color: #3F51B5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.example-icon {
    padding: 0 14px;
    color: #3F51B5;
    outline: none;
}

.example-spacer {
    flex: 1 1 auto;
}

.toolbar {
    width: 100%;
    min-height: 64px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #000;
}