<div class="container-editor">
  <div class="editor-header">
    <mat-toolbar class="toolbar">
      <mat-toolbar-row class="row-header">
        <span>Editor de rutas</span>
        <span class="example-spacer"></span>
        <i class="fas fa-table example-icon fa-lg" [routerLink]="['inicio']"
          matTooltip="Accede a las rutas creadas sin datos capturados"
          matTooltipPosition="below"
          matTooltipShowDelay="1000"
        ></i>
        <i class="fas fa-plus-circle example-icon fa-lg" [routerLink]="['crear']"
          matTooltip="Crea una nueva ruta"
          matTooltipPosition="below"
          matTooltipShowDelay="1000"
        ></i>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="editor-body">
    <div class="editor-text1">
      Para comenzar selecciona una acción. Si necesitas más información visita www.fluxlane.com
    </div>
    <div class="editor-router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
