<div class="container">
    <div class="menu">
        <div class="usuario">
            <div class="foto">
                <img src="../../../assets/img/recursos/foto.jpg">
            </div>
            <div class="nombre">
                Pablo Sarango
            </div>
        </div>
        <div class="items">
            <div id="rutas" class="item-group" (click)="selected('rutas')" [routerLink]="['rutas']">
                    <i class="fas fa-route icon"></i>
                <a class="item">Rutas</a>
            </div>
            <div id="editor" class="item-group" (click)="selected('editor')" [routerLink]="['editor']">
                <i class="fas fa-draw-polygon icon"></i>
                <a class="item">Editor</a>
            </div>
            <div id="usuarios" class="item-group" (click)="selected('usuarios')" [routerLink]="['usuarios']">
                <i class="fas fa-users icon"></i>
                <a class="item">Usuarios</a>
            </div>
        </div>
    </div>
    <div class="component">
        <div class="loader">
            <router-outlet></router-outlet>
        </div>
        <!--<div class="example">
            
        </div>
        -->
    </div>
</div>

<!--
<p><a [routerLink]="['/login']">Logout</a></p>
-->