<h2 mat-dialog-title style="font-family: 'Ubuntu', sans-serif;">Actualizar contraseña de {{user.displayName}}</h2>
<mat-dialog-content class="dialog">
    <form [formGroup]="formPassword" *ngIf="formHide">
        <div class="body-form">
            <p class="info-password">
                <mat-form-field appearance="outline" class="password-input">
                    <mat-label>Nueva contraseña</mat-label>
                    <input formControlName="password" [type]="hide ? 'password' : 'text'" matInput placeholder="Contraseña" required>
                    <mat-error *ngIf="formPassword.hasError('required', 'password') || formPassword.get('password').invalid">
                        Por favor, introduzca una contraseña válida.
                    </mat-error>
                    <mat-icon color="primary" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
            </p>
            <p class="info-password">
                <mat-form-field appearance="outline" class="password-input">
                    <mat-label>Repita la contraseña</mat-label>
                    <input formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" matInput [errorStateMatcher]="errorMatcher" placeholder="Repetir contraseña" required>
                    <mat-error *ngIf="formPassword.hasError('notSame') || formPassword.get('confirmPassword').invalid">
                        Las contraseñas no coinciden.
                    </mat-error>
                    <mat-icon color="primary" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
            </p>
        </div>
    </form>
    Para confirmar haz click en <i><strong>ACTUALIZAR</strong></i>
    <mat-spinner *ngIf="isVisible" class="dialog-spinner"></mat-spinner>
    <div class="mensaje">
        <div *ngIf="isCorrect" class="success">
            <p class="mensaje-label">Correcto:</p>
            {{message}}
        </div>
        <div *ngIf="isIncorrect" class="error">
            <p class="mensaje-label">Error: </p>
            {{message}}
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button style="font-family: 'Ubuntu', sans-serif;" (click)="close(false)" [disabled]="isDisabled" *ngIf="isHidden" cdkFocusInitial>Cancelar</button>
    <button mat-button style="font-family: 'Ubuntu', sans-serif;" (click)="update()" [disabled]="isDisabled" *ngIf="isHidden">Actualizar</button>
    <button mat-button style="font-family: 'Ubuntu', sans-serif;" (click)="close(true)" color="primary" *ngIf="!isHidden">Cerrar</button>
</mat-dialog-actions>